<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>wt-server</title>
    <style>
        h3 { padding-left: 23px; } }
        li { margin-top: 8px; }
        h4 {
        		margin: 0;
        		padding:0;
        		margin-top: 20px;
        	}
    </style>
</head>

<body>
    <h3>沃土前端社区mock数据接口</h3>
    <ul>
       <h4>通讯录</h4>
       <li>
       	<a href="contact/getContactList">contact/getContactList</a>
       </li>
       <h4>活动</h4>
       <li>
       	<a href="activity/add">activity/add</a>
       </li>
       <h4>财务</h4>
       <li>
       	<a href="finace/add">finace/add</a>
       </li>
       <h4>账户</h4>
       <li>
       	<a href="account">account</a>
       </li>
       <li>	<a href="account/login">account/login</a></li>
       <li><a href="account/edit">account/edit</a></li>
    </ul>
</body>

</html>
